<p id="notice"><%= notice %></p>

<p>
  <strong>Pessoa:</strong>
  <%= @paciente.pessoa %>
</p>

<p>
  <strong>Numerocartaosus:</strong>
  <%= @paciente.numerocartaosus %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @paciente.profissao %>
</p>

<p>
  <strong>Enderecoprofissional:</strong>
  <%= @paciente.enderecoprofissional %>
</p>

<p>
  <strong>Enderecoresidencial:</strong>
  <%= @paciente.enderecoresidencial %>
</p>

<p>
  <strong>Nomeconjugue:</strong>
  <%= @paciente.nomeconjugue %>
</p>

<p>
  <strong>Contatoconjugue:</strong>
  <%= @paciente.contatoconjugue %>
</p>

<p>
  <strong>String:</strong>
  <%= @paciente.string %>
</p>

<p>
  <strong>Profissaoconjugue:</strong>
  <%= @paciente.profissaoconjugue %>
</p>

<p>
  <strong>Possuifilhos:</strong>
  <%= @paciente.possuifilhos %>
</p>

<p>
  <strong>Filhosquantidade:</strong>
  <%= @paciente.filhosquantidade %>
</p>

<p>
  <strong>Idadefilhos:</strong>
  <%= @paciente.idadefilhos %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @paciente.observacao %>
</p>

<p>
  <strong>Localnascimento:</strong>
  <%= @paciente.localnascimento %>
</p>

<p>
  <strong>Datacadastro:</strong>
  <%= @paciente.datacadastro %>
</p>

<p>
  <strong>Dataobito:</strong>
  <%= @paciente.dataobito %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @paciente.ativo %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
