<%- model_class = Estadocivil -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @estadocivils.each do |estadocivil| %>
      <tr>
        <td><%= link_to estadocivil.id, estadocivil_path(estadocivil) %></td>
        <td><%= estadocivil.descricao %></td>
        <td><%=l estadocivil.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      estadocivil_path(estadocivil), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_estadocivil_path(estadocivil), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      estadocivil_path(estadocivil),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_estadocivil_path,
            :class => 'btn btn-primary' %>
